<h2><%= @greeting %></h2>

<header><h1>Movie Search Quiz</h1></header>

<main>
	<h2 class="test" data-year="<%=@year%>">Which one of these movies was released in <%=@year%>?</h2>

	<ul class="inline">

		<% @movies.each do |movie| %>
			<li class="inline-movies <%= movie.year %>"><img src=<%= movie.poster %>></li>
		<% end %>
	</ul>
</main>



<script type="text/javascript">
$('.inline-movies').on('click', function() {
	if 
});
</script>